
name: CrackPro

on:
  push:
    paths: 
      - '*.asar'
  workflow_dispatch:
  
permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
          check-latest: false

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
        
      - name: Install Asar Module
        run: |
          npm install -g asar
          asar e app.asar unpack
          ls
        shell: pwsh {0}
          
      - name: Crack Pro
        env: 
          version: default
        run: |
          python replacestr.py
            
      - name: Repack Asar
        run: |
         asar p unpack app_crack.asar
          
      - name: Upload AsarCrack
        uses: actions/upload-artifact@v3
        with:
          name: app_crack_file 
          path: app_crack.asar

          
