
name: CrackPro

on:
  push:
    paths: 
      - '*.asar'
  workflow_dispatch:
  
permissions: read-all

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@main

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
          check-latest: false

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
        
      - name: Install Asar Module
        run: |
          npm install -g asar
          asar e app.asar unpack
        shell: cmd
          
      - name: Crack Pro
        env: 
          version: default
        run: |
          import json
          dir="unpack/package.json"
          js = json.load(open($dir,'r',encoding='utf-8'))
          print(js["version"])
          $version = js["version"]
          echo $version

          str1='if(this.account.subscription){return"pro"}return null}'
          str1fix='if(true){return"pro"}return null}'
          str2='!account.subscription'
          str2fix='false'
          filename="unpack/output/app-bundle.js"
          with open(r'$filename', 'r', encoding='UTF-8') as file:
            data = file.read()
            data = data.replace(str1, str1fix)
            data = data.replace(str2, str2fix)
          with open(r'$filename', 'w', encoding='UTF-8') as file:
            file.write(data)
        shell: python
            
      - name: Repack Asar
        run: |
         asar p unpack app_crack.asar
        shell: cmd
          
      - name: Upload AsarCrack
        uses: actions/upload-artifact@v3
        with:
          name: app_crack_file 
          path: app_crack.asar

          
